body{
  background-color: rgb(166,3,3);
}
header#main-header{
  font-family: 'Fugaz One', sans-serif;
  color: black;
  width:380px;
  text-align:right;
  h1{
    font-family: 'Fugaz One', sans-serif;
    font-size:48pt;
    color: white;
    margin-bottom: 0;
  }
}
