<% content_for :title, "Welcome"%>

<div class="row">
  <header id="main-header">
    <h1>FastPITCH!</h1> 
    <p>Get your ads out & FAST!</p>
  </header>
</div>
<div class="row">
  <div class="twelve columns">
    <div id="slider">
      <img src="http://placehold.it/1000x400&text=some+image+slider+to+keep+you+busy" />
    </div>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <img src="http://placehold.it/450x400&text=name+me+thy+location"/>
  </div>
  <div class="four columns">
    <img src="http://placehold.it/450x400&text=upload+thy+video"/>
  </div>
  <div class="four columns">
    <img src="http://placehold.it/450x400&text=choose+thy+timeslot"/>
  </div>
</div>
